@import '_normalize.styl'
@import '_typography.styl'

body
  background offwhite

.game-board
  margin 0 auto
  width 720px
  height 720px
  background-color blue

.category-column
  display inline-block
  width 16.666%

.category-title
  font-size 15px
  text-align center
  color white

.category-clue
  font-size 30px
  color yellow
  a:link
    text-decoration none
    color yellow
  a:visited
    color yellow

.category-item
  display flex
  justify-content center
  align-items center
  height 120px
  width 120px
  border 1px solid black
  padding 15px

.clue
  display flex
  justify-content center
  align-items center
  flex-direction column
  text-align center
  height 100%
  width 100%
  font-size 50px
  color white

.clue-value:hover
  cursor pointer

.player-manager
  display flex
  flex-direction row
  margin 0 auto
  width 600px

.player
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center
  border 1px solid black
  width 200px
  height 100px
  background-color blue

.player-name
  color white
  display block

.player-name:hover
  cursor pointer
  text-decoration underline

.player-score
  color yellow
  display block

.clearfix
  clear both
  height 0
  font-size 0
