@import '_normalize.styl'
@import '_typography.styl'

body
  background offwhite

.game-board
  margin 0 auto
  width 720px
  height 720px
  background-color blue

.category-column
  display inline-block
  width 16.666%

.category-title
  font-size 15px
  text-align center
  color white

.category-clue
  font-size 30px
  color yellow
  a:link
    text-decoration none
    color yellow
  a:visited
    color yellow

.category-item
  display flex
  justify-content center
  align-items center
  height 120px
  width 120px
  border 1px solid black
  padding 15px

.answer
  display flex
  justify-content center
  align-items center
  text-align center
  height 100%
  width 100%
  font-size 50px
  color white

.clearfix
  clear both
  height 0
  font-size 0
